<meta name="viewport" content="width=device-width,initial-scale=1.0">

<h1>キルミーベイベー AI</h1>

<p>あぎり、ボツ、ソーニャ、やすな、のうちのだれかの写真をアップロードしてください。</p>
<p>AIが誰なのか判断してくれます。</p>
<form method="POST" action="/send" enctype="multipart/form-data">
    <input type="file" id="img_file" name="img_file" class="col-sm-4">
    <input type="submit" name="送信">
</form>

<p>製作者</p>
<a href="https://twitter.com/lockdef"><img src="https://pbs.twimg.com/profile_images/1034414196715184128/zhIVH3ol_400x400.jpg" width=75 height=75 
style="border-radius:50%; border:solid black 1px" alt="Twitter"></a>